@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
      @apply m-0 p-0 box-border ;
    };

    body{
      @apply min-w-[100dvw] leading-6 overflow-x-hidden 
    };
    img{
      @apply max-w-full object-cover  block ;
    };
    p {
    @apply m-0 break-words
  };
  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}
  

  }